<!DOCTYPE html>
<html >


<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!--<script >
    var app = angular.module('myApp', []);
    app.controller('myCtrl',['$scope', '$http', function($scope, $http) {
        $scope.tag="ALL";
        $http({
            method:"GET",
            url: "data.json"
            }).then(function mySuccess(response) {
                $scope.data=response.data;
            }, function myError(response){
                console.log("error");
            });

        }]);

    app.filter('filterByTags', function() {
        return function(items, key) {
            var filtered=[];

            angular.forEach(items,function(item)
            {
                console.log(item);
                var contains=false;
                angular.forEach(item.tags, function(tag) {
                    if(tag.toLowerCase().indexOf(key.toLowerCase())>-1||key.toLowerCase()=="all")
                        contains=true;
                });
                if(contains==true)
                    filtered.push(item);
            });
            return filtered;

        };
    });


    </script>-->

   



<title>MSP Content</title>
<link rel="stylesheet" href="style/main.css" type="text/css" >
<link rel="shortcut icon" href="./images/flame.ico" >


</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div width="100%">
<img src="./images/flame.jpg" style="height:50px; width:50px; display:inline;"/>
<p style="font-size:50px; margin-bottom:10px; display:inline;">{{tag}} - Microsoft Student Partner Content</p>
</div>
<ul style="list-style-type: none; display:inline;
    margin: 0;
    padding: 0;" >
<li><a href="index.html" >HOME</a></li>
<li><a ng-click="tag='All';" >ALL</a></li>
<li><a ng-click="tag='Web';" >WEB</a></li>
<li><a ng-click="tag='UWP';" >UWP</a></li>
<li><a ng-click="tag='Game';" >GAME</a></li>
<li><a ng-click="tag='Iot';" >IoT</a></li>
</ul>
<br><br>
<div style="width:100%; float:left;">
Type tags:
<input ng-model="search"/><button ng-click="tag=search" >search</button>
    <span>Difficulty: </span>
<select ng-model="difficulty" style="width:100px;">
    <option ng-repeat="n in [1,2,3,4,5]">{{n}}</option>
</select>
</div>


    <div style="float:left; margin-bottom:10px; width:100%">
        <div class="GitHubItem">
            <p class="GitHubTitle"> <a href="https://github.com/mspcontent/how-to-use-this-content">How To Use This Content</a></p>
            <p class="GitHubAuthor">Bret Stateham</p>
            <p class="GitHubDescription">
                <b>What is a Walkthrough</b>
                <br><br>
                Its right in its name! A Walkthrough is something you use to walk someone through something interesting. Each of these repositories contains a guide that will give you what you need to do to walk other students through something fun and cool.
                <br><br>
                While you're at it you'll learn a thing or two that you can use to hack or even land you a sweet gig in the tech industry!
                <br><br>
                <b>The README.md files</b>
                <br><br>
                If you're reading this, you're most likely looking at this file as rendered by Github. This file is in a format called markdown an easy to write format which makes it easy to write simple HTML such as links right into our documents without the need of additional software like Adobe Reader or Word. We can track changes in these files easily and better collaborate to ensure they are top quality.
                <br><br>
                Each README.md represents a walk-through you could use, right out of the box to drive an event at your school. These walk-throughs contain screenshots, resources, links, code samples and detailed instructions to help you learn and give a fun and insightful session. They also contain links to resources such as Microsoft Virtual Academy to help you gain deeper knowledge about the subject.
                <br><br>
                <b>Forking the repositories</b>
                <br><br>
                Every repository within mspcontent is in itself a single walk through. To get started first you need to fork the repository. Ensure you install Github for Mac or Github for Windows on your machine.
                <br><br>
                From the mspcontent home page, pick a repository (which contains a single walk-through):
            </p>
        </div>
    </div>
<hr/>

<div class="GitHubItem" ng-repeat="item in data | filterByTags:tag |filterByDifficulty:difficulty" >
	<div onclick="location.href = id" id={{item.link}}>
		<p class="GitHubTitle">{{item.title}}</p> 
		<p class="GitHubAuthor">{{item.author}}</p>
        <p class="GitHubDifficulty">Difficulty:{{item.difficulty}}</p>
		
		<p class="GitHubDescription" >{{item.description}}</p>
		<div style="background:#2F5596; width:100%; float:bottom; min-height:25px; height:auto; bottom:0px; position:relative; overflow:clip; ">
		<ul ng-repeat="tag in item.tags | limitTo:4" >
			<li class="GitHubTags">{{tag}}</li>
		</ul>
		</div>
	</div>
</div>
</div>




    <script type="text/javascript" src="./methods.js"></script>


</body>
</html>
