<!DOCTYPE html>
<html >


<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


   



<title>MSP Content</title>
<link rel="stylesheet" href="style/main.css" type="text/css" >
<link rel="shortcut icon" href="./images/flame.ico" >


</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="header">
        <div style="width:100%">
            <img src="./images/flame.jpg" style="height:50px; width:50px; display:inline;" />
            <p class="PageTitle">{{tag}} - Microsoft Student Partner Content</p>
        </div>
        <br />
        <ul style="list-style-type: none; display:inline; margin: 0;padding: 0; width:100%; height:auto;">
            <li><a ng-click="tag='All';">ALL</a></li>
            <li><a ng-click="tag='Web';">WEB</a></li>
            <li><a ng-click="tag='Xamarin';">Xamarin</a></li>
            <li><a ng-click="tag='Game';">GAME</a></li>
            <li><a ng-click="tag='Iot';">IoT</a></li>
            <li><a ng-click="tag='Azure';">Azure</a></li>
            <li><a ng-click="tag='ML';">Machine Learning</a></li>
            <li><a ng-click="tag='UWP';">UWP</a></li>
            <li><a href="https://github.com/mspcontent/how-to-use-this-content">How To Use This Content</a></li>
            <li><a href="https://www.dreamspark.com/">Microsoft Dreamspark</a></li>
        </ul>

        <br><br>
        <div style="width:100%; float:left;">
            <span> Type tags:</span>
            <input ng-model="search" /><button ng-click="tag=search">search</button>
            <span>Difficulty: </span>
            <select ng-model="difficulty" style="width:100px;">
                <option ng-repeat="n in [1,2,3,4,5]">{{n}}</option>
            </select>
        </div>
        <br />
    </div>
<hr/>

<div class="GitHubItem" ng-repeat="item in data | filterByTags:tag |filterByDifficulty:difficulty |orderBy:'-difficulty'" >
	<div onclick="location.href = id" id={{item.link}}>
		<p class="GitHubTitle">{{item.title}}</p> 
		<p class="GitHubAuthor">{{item.author}}</p>
        <p class="GitHubDifficulty">Difficulty:{{item.difficulty}}</p>
		
		<p class="GitHubDescription" >{{item.description}}</p>
		<div style="background:#2F5596; width:100%; ; min-height:25px; height:auto; bottom:-5px; position:relative; overflow:clip; ">
		<ul ng-repeat="tag in item.tags | limitTo:4" >
			<li class="GitHubTags">{{tag}}</li>
		</ul>
		</div>
	</div>
</div>





    <script type="text/javascript" src="./methods.js"></script>


</body>
</html>
