<!DOCTYPE html>
<html >
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>







<head>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl',['$scope', '$http', function($scope, $http) {
	$http({
		method:"GET",
		url: "data.json"
		}).then(function mySuccess(response) {
			$scope.data=response.data;
		}, function myError(response){
			console.log("error");
		});
		
	}]);
</script>




<title>MSP Content - Web</title>
<link rel="stylesheet" href="style/main.css" type="text/css" >
<link rel="shortcut icon" href="./images/flame.ico" >


</head>

<body>

<div width="100%">
<img src="./images/flame.jpg" style="height:50px; width:50px; display:inline;"/>
<p style="font-size:50px; margin-bottom:10px; display:inline;">Web - Microsoft Student Partner Content</p>
</div>
<ul style="list-style-type: none; display:inline;
    margin: 0;
    padding: 0;" >
<li><a href="index.html" >HOME</a></li>
<li><a href="web.html" >WEB</a></li>
<li><a href="phone.html" >PHONE</a></li>
<li><a href="game.html" >GAME</a></li>
<li><a href="iot.html" >IoT</a></li>
</ul>



<div style="float:left; margin-bottom:10px; width:100%" ng-app="myApp" ng-controller="myCtrl" >



<div class="GitHubItem" ng-repeat="item in data" >
	<div onclick="location.href = id" id={{item.link}}>
		<p class="GitHubTitle">{{item.title}}</p> 
		<p class="GitHubAuthor">{{item.author}}</p>
		<p class="GitHubDescription">
		{{item.description}}
		</p>
		<div style="background:#2F5596; width:100%; height:25px;">
		<span color="white">Tags</span>
		<ul ng-repeat="tag in item.tags" >
			<li class="GitHubTags">{{tag}}</li>
		</ul>
		</div>
	</div>
</div>
</div>





</div>
</body>
</html>