body{
	background-color:#E6E6E6;
	font-family: "Segoe UI";
    font-weight: 300;

}
button
{
	background-color:#e7e7e7;
	color:black;
    border: none;
 padding:2px;
 margin: 0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
}
.header
{
	width:98%; margin:0 auto; padding:10px; 
	background-color:#2F5596;
	overflow:hidden;
	/*background-image: url('../images/mainDarkened.png');*/
}
.HeaderTabs
{
	list-style-type: none; display:inline; margin: 0;padding: 0; width:100%; height:auto;
}

.HeaderTabs li a
{
	color: white;
	display:block;
	text-decoration: none;
	font-weight: bold;
	opacity:0.8;
}
.HeaderTabs li.active a{
	opacity:1;
	border-bottom:4px solid #fff;
}
.HeaderTabs li a:hover:not(.active){
	cursor:pointer;
	opacity:1;
	border-bottom:4px solid #fff;
	
	
}

.HeaderTabs li a:after
{
	color: white;
	display:block;
	text-decoration: none;
	opacity:0.8;
}


li {
    display: inline;
	margin-right:30px;
	margin-bottom:10px;
	float:left;
}
.PageTitle
{
    color:#2F5596;
	font-size:50px;
     margin-bottom:10px; 
     display:inline;
}
span{
    color:white;
}
.GitHubItem
{
	display: block;
	float:left;
	background:white;
	margin:10px;
	/*padding:5px;*/
	width:420px;
	height: 420px;
	color: black;
	min-height: 200px;
	text-decoration: none;
	
}
.GitHubItem:hover
{
	
	background:#f9f9f9;
}
.GitHubTitle
{
	font-size:22px;
	margin-top:5px;
	width:100%;
	color: black;
	margin-left:5px;
	height:40px;
}
.GitHubDescription
{
	color: black;
	font-size:14px;
	width:90%;
	height: 240px;
	text-overflow:clip;
	overflow:hidden;
	padding:5px;

}
.GitHubAuthor
{
	color: black;
	font-weight: 600;
	font-size:16px;
	width:100%;
	margin-left:5px;
	height:20px;
	
}
.GitHubTags
{
	color:white;
	float:bottom;
	margin-bottom:10px;
}
.GitHubDifficulty
{
	height:10px;
	font-size:12px;
	margin-left:5px;
}