body{
	background-color:#E6E6E6;
	font-family: "Segoe UI";
    font-weight: 300;
	margin: auto;
    width: 95%;
	
}

}
a
{
	font-size:18px;
	display:block;

}
li {
    display: inline;
	margin-right:30px;
	margin-bottom:10px;
	float:left;
}
p.PageTitle
{
	
}
.GitHubItem
{
	display: block;
	float:left;
	background:white;
	margin:5px;
	padding:5px;
	width:100%;
}
p.GitHubTitle
{
	font-size:32px;
	margin-top:5px;
	width:100%;
}
p.GitHubDescription
{
	font-size:22px;
	width:100%;
}
p.GitHubAuthor
{
	font-weight: 600;
	font-size:26px;
	width:100%;
}
